<footer class="footer">
  <div class="footer__container">
    <div class="footer__contain">
      <h2 class="visually-hidden">Footer</h2>
      <div class="footer__start-block">
        <p class="footer__par">Ready to get started?</p>
        @@include('../base/_btn.html', {
        'text': 'Get started',
        'class-second': 'btn-footer'
        })
      </div>
      <div class="footer__content-block spoiler">
        <div class="footer__block-message">
          <p class="footer__text">Subscribe to our Website</p>
          <div class="footer__block-field">
            <input class="footer__field" type="text" name="text" placeholder="Email address">
            <button class="footer__btn"><i class="arrow"></i></button>
          </div>
        </div>
        <div class="footer__column">
          <div class="footer__preview">
            <h3 class="footer__subtitle">Services</h3>
            <i class="arrow"></i>
          </div>
          <div class="footer__column-block-text">
            <p class="footer__column-text">Email Marketing</p>
            <p class="footer__column-text">Campaigns</p>
            <p class="footer__column-text">Branding</p>
            <p class="footer__column-text">Offline</p>
          </div>
        </div>
        <div class="footer__column">
          <div class="footer__preview">
            <h3 class="footer__subtitle">About</h3>
            <i class="arrow"></i>
          </div>
          <div class="footer__column-block-text">
            <p class="footer__column-text">Our Story</p>
            <p class="footer__column-text">Benefits</p>
            <p class="footer__column-text">Team</p>
            <p class="footer__column-text">Careers</p>
          </div>
        </div>
        <div class="footer__column">
          <div class="footer__preview">
            <h3 class="footer__subtitle">Help</h3>
            <i class="arrow"></i>
          </div>
          <div class="footer__column-block-text">
            <p class="footer__column-text">FAQs</p>
            <p class="footer__column-text">Contact Us</p>
          </div>
        </div>
      </div>
      <div class="footer__copy-block">
        <div class="footer__copyright">
          <span class="footer__copy-desc">Terms & Conditions</span>
          <span class="footer__copy-desc">Privacy Policy</span>
        </div>
        <div class="footer__social">
          <i class="face"></i>
          <i class="twit"></i>
          <i class="insta"></i>
        </div>
      </div>
    </div>
  </div>
</footer>