.btn {
   cursor: pointer;
   color: $white;
   background-color: $greeN;
   font-weight: 600;
   @include fl(21, 26);
   box-shadow: 0px 25px 50px rgba(132, 94, 194, 0.15);
   border-radius: 10px;
   min-width: 263px;
   min-height: 70px;
   transition: all 0.1s ease;
   margin-bottom: 108px;

   @media (max-width: 1000px) {
      margin-bottom: 60px;
   }

   &:hover {
      @media (min-width: 1000px) {
         background-color: darken($greeN, 5%);
      }
   }
}

.btn-feat-first {
   margin-bottom: 0;

   @media (max-width: 349px) {
      min-width: 140px;
   }

   @media (max-width: 499px) {
      min-width: 150px;
   }

   @media (max-width: 1000px) {
      margin-bottom: 0;
   }

   @media (max-width: 1149px) {
      min-width: 200px;
   }

}

.btn-feat-second {
   background-color: transparent;
   @include lh(35);
   margin-bottom: 0;
   min-width: 220px;

   @media (max-width: 349px) {
      min-width: 140px;
   }

   @media (max-width: 499px) {
      min-width: 150px;
   }

   @media (max-width: 1000px) {
      margin-bottom: 0;
   }

   @media (max-width: 1149px) {
      min-width: 200px;
   }

   &:hover {
      @media (min-width: 1000px) {
         outline: 1px solid $white;
         background-color: initial;
      }
   }
}

.btn-prod {
   width: 100%;
   min-width: initial;
   margin-bottom: 0;

   @media (max-width: 1000px) {
      margin-bottom: 0;
   }
}

.btn-blog {
   min-width: 303px;
   margin-bottom: 0;
   margin-right: 30px;

   @media (max-width: 1000px) {
      margin-bottom: 0;
   }

   @media (max-width: 1349px) {
      min-width: 250px;
   }
}

.btn-blog-second {
   &:hover {
      @media (min-width: 1000px) {
         outline: 1px solid $white;
         background-color: initial;
      }
   }

   background-color: transparent;
   @include lh(35);
   margin-bottom: 0;
   min-width: 220px;

   @media (max-width: 1000px) {
      margin-bottom: 0;
   }

   @media (max-width: 1149px) {
      min-width: 250px;
   }
}

.btn-footer {
   border-radius: 0;
   min-width: initial;
   min-height: initial;
   padding: 12px 32px;
   margin-bottom: 0;

   @media (max-width: 1000px) {
      margin-bottom: 0;
   }
}