.circle {
    width: 43px;
    height: 43px;
    display: inline-block;
    border-radius: 50%;
    background-color: #111111;

    &:hover {
        @media (min-width: 1000px) {
            box-shadow: 0px 0px 5px $white;
        }
    }
}

.circle-second {
    background-color: #FFF500;


}

.circle-third {
    background-color: #4484FF;
}

.circle.active {
    outline: 1px solid #FF0000;
}