.romb {
    color: #FFD600;
    animation: color-change 3s infinite;

    @media (max-width: 767px) {
        @include fz(35);
    }

    @media (min-width: 768px) {
        @include fz(50);
    }
}

.romb1 {

    @media (max-width: 900px) {
        transform: translateX(0%);
    }

    @media (max-width: 1150px) {
        transform: translateX(-23%);
    }

    @media (min-width: 1151px) {
        transform: translateX(-29%);
    }
}

.romb2 {

    margin-left: auto;

    @media (max-width: 767px) {
        transform: translate(20%, 20%);
    }

    @media (max-width: 900px) {
        transform: translate(35%, -31%);
    }

    @media (max-width: 1150px) {
        transform: translate(118%, -31%);
    }

    @media (min-width: 1151px) {
        transform: translate(156%, -31%);
    }
}

@keyframes color-change {
    0% {
        color: #FFD600;
    }

    50% {
        color: #10B981;
    }

    100% {
        color: #FFD600;
    }
}