.footer {

    // .footer__contain

    &__contain {
        padding: 10.2% 8% 7%;

        @media (max-width: 1099px) {
            padding: 10.2% 2% 7%;
        }

        @media (max-width: 1349px) {
            padding: 10.2% 5% 7%;
        }
    }

    // .footer__start-block

    &__start-block {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        position: relative;
        padding-bottom: 42px;
        flex-wrap: wrap-reverse;
    }

    &__start-block::after {
        content: "";
        position: absolute;
        background-color: #111111;
        opacity: 0.1;
        width: 100%;
        height: 1px;
        bottom: 0;
    }

    // .footer__par

    &__par {
        color: #111111;
        @include fl(22, 29);
        letter-spacing: -0.3px;
    }

    // .footer__content-block

    &__content-block {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        padding-right: 3%;
        gap: 30px;
        margin-bottom: 50px;

        @media (max-width: 999px) {
            flex-direction: column;
            gap: 0;
        }
    }

    // .footer__

    &__block-message {
        @media (max-width: 999px) {
            margin-bottom: 30px;
        }
    }

    // .footer__text

    &__text {
        color: #111111;
        @include fl(22, 29);
        padding-right: 3%;
        margin-bottom: 27px;
    }

    // .footer__block-field

    &__block-field {
        border-bottom: 1px solid rgba(17, 17, 17, 0.1);
        display: flex;
    }

    // .footer__field

    &__field {
        width: 100%;
        padding: 13px 10px 21px 0;

        @media (min-width: 1000px) {
            transition: all 0.3s ease 0s;
        }
    }

    &__field:hover {
        @media (min-width: 1000px) {
            padding-left: 5%;
        }
    }

    &__field::placeholder {
        color: #111111;
        opacity: 0.5;
        letter-spacing: -0.204545px;
        @include fl(15, 20);

    }

    // .footer__btn

    &__btn {
        padding: 19px;
        border-radius: 8px 8px 0px 0px;
        background-color: $greeN;

        @media (min-width: 1000px) {
            cursor: pointer;
            transition: all 0.05s ease 0s;
        }

        i {
            color: $white;
            @include fz(12);
        }
    }

    &__btn:hover {
        @media (min-width: 1000px) {
            background-color: darken($greeN, 5%);
        }
    }

    // .footer__column

    &__column {
        flex: 0 1 13%;

        @media (max-width: 999px) {
            position: relative;
        }
    }

    &__column:not(:last-child)::after {
        @media (max-width: 999px) {
            content: "";
            position: absolute;
            bottom: 0;
            background-color: rgba(17, 17, 17, 0.2);
            width: 100%;
            height: 1px;
        }

    }

    // .footer__preview

    &__preview {
        @media (max-width: 999px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
        }

        i {
            @media (max-width: 999px) {
                transform: rotate(90deg);
                transition: all 0.5s ease 0s;
            }

            @media (min-width: 1000px) {
                display: none;
            }
        }
    }

    // .footer__subtitle

    &__subtitle {
        @include fl(17, 22);
        color: $greeN;

        @media (min-width: 1000px) {
            margin-bottom: 20px;
        }
    }

    // .footer__column-block-text

    &__column-block-text {

        @media (max-width: 999px) {
            height: 0;
            overflow: hidden;
            transition: all 0.5s ease 0s;
        }
    }

    // .footer__column-text

    &__column-text {
        color: #111111;
        @include fl(15, 20);
        margin-bottom: 20px;

        a {
            display: inline-block;

            @media (min-width: 1000px) {
                position: relative;
            }
        }
    }

    a:hover::after {
        @media (min-width: 1000px) {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $blacK;
            left: 0;
            bottom: -3px;
        }
    }


    // .footer__copy-block

    &__copy-block {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
    }

    // .footer__copyright

    &__copyright {
        padding-top: 2px;
        display: flex;
        gap: 25px;
    }

    // .footer__copy-desc

    &__copy-desc {
        color: #111111;
        @include fl(15, 20);

        a {
            @media (min-width: 1000px) {
                position: relative;
            }
        }

    }

    &__copy-desc {
        a:hover::after {
            @media (min-width: 1000px) {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $blacK;
                left: 0;
                bottom: -3px;
            }
        }
    }

    // .footer__social

    &__social {
        display: flex;
        gap: 36px;
    }
}

.footer-icon {
    cursor: pointer;
}

.face {
    transition: all 0.1s ease 0s;
    @include fz(22);
}

.face:hover {
    color: #3b5998;
}

.twit {
    @include fz(22);
    transition: all 0.1s ease 0s;
}

.twit:hover {
    color: #00acee;
}

.insta {
    transition: all 0.1s ease 0s;
    @include fz(22);
}

.insta:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.opened .arrow {
    transform: rotate(270deg);
}

.opened .footer__column-block-text {
    height: auto;
}