body.lock {
   overflow: hidden;
}

body {
   background-color: #fff;
   color: $dark;
   font-family: $ff1;
   @include fz(16);
   font-weight: 400;
}

[class*="__container"] {
   @media (max-width: 767px) {
      padding-left: percent(20, 425);
      padding-right: percent(20, 425);
   }

   @media (min-width: 768px) and (max-width: 999px) {
      padding-left: percent(50, 768);
      padding-right: percent(50, 768);
   }

   @media (min-width: 1000px) {
      padding-left: percent(85, 1440);
      padding-right: percent(85, 1440);
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}

main {
   flex: 1 1 auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.no-scroll {
   overflow: hidden;
}


@keyframes slide-in {
   0% {
      transform: translateX(-30%);
      opacity: 0;
   }

   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

.animate {
   animation: slide-in 2s forwards;
}


@keyframes slide-right {
   0% {
      transform: translateX(30%);
      opacity: 0;
   }

   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

.animate-right {
   animation: slide-right 2s forwards;
}