.hero {

    // .hero__container

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        padding-top: 77px;
        padding-bottom: 51px;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            padding-top: 30px;
        }

        @media (max-width: 1000px) {
            grid-template-columns: 1fr 55%;
        }

        @media (max-width: 1150px) {
            gap: 20px;
        }

        @media (max-width: 1250px) {
            gap: 30px;
        }
    }

    // .hero__content

    &__content {
        padding-top: 55px;

        @media (max-width: 767px) {
            padding-top: 0;
        }
    }

    // .hero__text

    &__text {
        font-weight: 600;
        @include fl(64, 78);
        margin-bottom: 28px;

        @media (max-width: 900px) {
            @include fl(40, 40);
        }

        @media (max-width: 1150px) {
            @include fl(50, 50);
        }
    }

    // .hero__par

    &__par {
        @include fl(21, 35);
        font-weight: 500;
        margin-bottom: 52px;

        @media (max-width: 1000px) {
            margin-bottom: 35px;
            @include fl(19, 31);
        }
    }

    // .hero__block-view

    &__block-view {
        display: flex;

        @media (max-width: 900px) {}
    }

    // .hero__view

    &__view {
        display: flex;
        position: relative;
        min-width: 173px;
    }

    // .hero__view-desc

    &__view-desc {
        padding-left: 10px;
        width: 35%;
        font-weight: 500;
        @include fl(26, 35);

        @media (max-width: 900px) {
            width: 100%;
        }
    }

    // .hero__show

    &__show {
        display: flex;
        align-items: flex-end;
        gap: 11%;

        @media (max-width: 767px) {
            padding-top: 20px;
        }

        @media (max-width: 900px) {
            flex-direction: column-reverse;
            align-items: stretch;
            gap: 0;
        }

        @media (max-width: 1000px) {
            gap: 3%;
        }

        @media (max-width: 1150px) {
            gap: 9%;
        }
    }

    // .hero__block-video

    &__block-video {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 48px;
        margin-left: -8px;

        @media (max-width: 767px) {
            transform: translate(0%, -20%);
            padding-left: 5%;
        }

        @media (max-width: 900px) {
            align-items: flex-start;
            padding-left: 15%;
            transform: translate(0%, -27%);
        }
    }

    // .hero__video-pic-wrap

    &__video-pic-wrap {
        position: relative;
        margin-bottom: 16px;
    }

    // .hero__video-pic

    &__video-pic {
        width: 70px;
        height: 70px;
        padding: 13px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;

        img {
            position: absolute;
            object-position: center;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: scale(1.1);
            transition: all 0.2s ease 0s;
        }
    }

    &__video-pic img.zoomed {
        transform: scale(1.3);
    }

    // .hero__video-sign

    &__video-sign {
        font-weight: 500;
        @include fl(21, 35);

        @media (min-width: 1000px) {
            cursor: pointer;
        }
    }



    // .hero__product-block

    &__product-block {
        display: flex;
        flex-direction: column;

        @media (max-width: 767px) {
            padding-top: 30px;
        }
    }

    // .hero__product-wrap

    &__product-wrap {
        position: relative;
        padding-top: 42px;

        @media (max-width: 767px) {
            padding-top: 20px;
        }
    }

    // .hero__product-name

    &__product-name {
        font-weight: 600;
        @include fl(40, 49);

        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        @media (min-width: 768px) {
            position: absolute;
            top: -28px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


// ! Features === Features === Features === Features === Features === Features === Features
// ! Features === Features === Features === Features === Features === Features === Features
// ! Features === Features === Features === Features === Features === Features === Features

.features {
    background-color: $pluM;
    // .features__container

    &__container {
        display: flex;
        flex-wrap: wrap;
        padding-top: 73px;
        column-gap: 103px;
        padding-bottom: 4px;

        @media (max-width: 999px) {
            padding-top: 40px;
        }

        @media (max-width: 1250px) {
            column-gap: 55px;
            padding-bottom: 20px;
        }
    }

    // .features__main-text

    &__main-text {
        width: 100%;
        font-weight: 600;
        @include fl(60, 73);
        color: transparent;
        text-shadow:
            0 0 2px white,
            0 0 2px white,
            0 0 2px white,
            0 0 2px white;

        @media (max-width: 650px) {
            @include fl(40, 40);
            text-align: center;

        }

        @media (max-width: 799px) {
            @include fl(50, 50);

        }

        @media (max-width: 1250px) {
            margin-bottom: 30px;
        }
    }

    // .features__show

    &__show {
        padding-top: 37px;
        flex: 1 1 auto;

        @media (max-width: 999px) {
            flex: 1 1 100%;
            padding-top: 15px;
        }
    }

    // .features__card-block

    &__card-block {
        display: flex;
        gap: 32px;

        @media (max-width: 499px) {
            gap: 15px;
        }
    }

    // .features__desc

    &__desc {
        @include fl(31, 35);
        color: $white;
        text-align: center;

        @media (max-width: 499px) {
            @include fl(25, 30);

        }

        @media (min-width: 1251px) {
            transform: translate(0%, -25%);
        }
    }

    // .features__cost

    &__cost {
        font-weight: 600;
        @include lh(38);
    }

    // .features__content

    &__content {
        flex: 0 1 41%;

        @media (max-width: 999px) {
            flex: 0 1 100%;
        }
    }

    // .features__title

    &__title {
        @include fl(44, 54);
        font-weight: 600;
        color: $white;
        margin-bottom: 10px;

        @media (max-width: 499px) {
            @include fl(35, 43);

        }
    }

    // .features__par

    &__par {
        font-weight: 500;
        @include fl(21, 35);
        color: $white;
        margin-bottom: 35px;
    }

    // .features__btn-block

    &__btn-block {
        display: flex;
        gap: 10px;
    }
}


// ! Products ===  Products === Products === Products === Products === Products
// ! Products ===  Products === Products === Products === Products === Products
// ! Products ===  Products === Products === Products === Products === Products

.products {

    // .products__container

    &__container {
        padding-top: 9%;
    }

    // .products__title

    &__title {
        font-weight: 600;
        @include fl(44, 54);
        text-align: center;
        margin-bottom: 55px;
    }

    // .products__breadcrumbs

    &__breadcrumbs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 29px;
        padding-right: 16px;
        margin-bottom: 91px;

        @media (max-width: 499px) {
            gap: 10px;
            margin-bottom: 30px;
        }
    }

    &__breadcrumbs-two {
        padding-right: 0;
        padding-left: 25px;
    }

    &__slider-wrapper {
        display: flex;
    }
}

.swiper-slide {
    @media (max-width: 424px) {
        width: 288px;
    }

    @media (min-width: 425px) {
        width: 361px;
    }
}

.products__container-second {
    padding-bottom: 5%;
}

// ! Blog === Blog === Blog === Blog === Blog === Blog === Blog === Blog === Blog
// ! Blog === Blog === Blog === Blog === Blog === Blog === Blog === Blog === Blog
// ! Blog === Blog === Blog === Blog === Blog === Blog === Blog === Blog === Blog

.blog {
    padding-top: 4%;
    // .blog__title

    &__title {
        font-weight: 600;
        @include fl(44, 54);
        text-align: center;
        margin-bottom: 8.4%;
    }

    // .blog__wrap

    &__wrap {
        background-color: $pluM;

        @media (min-width: 1350px) {
            padding: 0 3.1%;
        }
    }

    // .blog__container

    &__container {
        display: flex;
        gap: 82px;
        padding-top: 4.6%;
        padding-bottom: 5.3%;

        @media (max-width: 500px) {
            gap: 30px;
        }

        @media (max-width: 999px) {
            flex-direction: column-reverse;
        }

        @media (max-width: 1200px) {
            gap: 50px;
        }
    }

    // .blog__show

    &__show {
        display: flex;
        gap: 45px;
        flex: 0 1 86%;
    }

    // .blog__content

    &__content {
        padding-top: 1%;
    }

    // .blog__subtitle

    &__subtitle {
        font-weight: 600;
        @include fl(60, 73);
        color: $white;
        margin-bottom: 28px;

        @media (max-width: 500px) {
            @include fl(40, 50);

        }

        @media (max-width: 999px) {
            margin-bottom: 17px;
        }

        @media (max-width: 1099px) {
            @include fl(50, 60);

        }
    }

    // .blog__text

    &__text {
        font-weight: 500;
        @include fl(21, 35);
        color: $white;
        margin-bottom: 25px;

        @media (max-width: 500px) {
            @include fl(19, 30);

        }
    }

    // .blog__par

    &__par {
        margin-bottom: 48px;

        @media (max-width: 999px) {
            margi-bottom: 30px
        }
    }

    // .blog__par

    &__elem {
        @include fl(31, 35);
        color: $white;
        margin-right: 19px;

        @media (max-width: 500px) {
            @include fl(25, 30);

        }
    }

    // .blog__elem

    &__elem-sec {
        font-weight: 600;
        @include fl(31, 38);
        color: $white;

        @media (max-width: 500px) {
            @include fl(27, 30);

        }
    }

    // .blog__block-elements

    &__block-elements {
        display: inline-flex;
        gap: 31px;
        margin-bottom: 50px;

        @media (max-width: 999px) {
            margin-bottom: 40px;
        }
    }

    // .blog__btn-block

    &__btn-block {}
}