svg {
    position: absolute;
    width: 81px;
    height: 79px;
    top: -8px;
    left: -4px;
    z-index: 2;
    transition: stroke 0.3s ease;

    path {
        transition: stroke 0.3s ease 0s;
    }
}