<div class="prod-card__block @@class">
  <div class="prod-card__picture">
    <picture>
      <source type="image/webp" srcset="@img/gallery/@@way.webp">
      <img src="@img/gallery/@@way.png" alt="ears" loading="lazy">
    </picture>
  </div>
  <div class="prod-card__content">
    <h3 class="prod-card__subtitle">@@text</h3>
    <div class="prod-card__block-stars">
      <div class="prod-card__stars">
        <i class="star"></i>
        <i class="star"></i>
        <i class="star"></i>
        <i class="star"></i>
        <i class="star"></i>
      </div>
      <span class="prod-card__desc">75 Reviews</span>
    </div>
    <span class="prod-card__sign">@@textCost</span>
  </div>
</div>